* {
  font-family: 'Raleway', sans-serif;
}

a:hover {
  color: #2563eb;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

.container {
  margin: 2rem auto;
  padding: 7rem 5rem;
  background: #f5f5f4;
  max-width: 1024px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.container__divider {
  margin-bottom: 3rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
}

.header__name {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.header__position {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.75rem;
  text-align: right;
}

.divider {
  height: 1px;
  background: #000;
  opacity: 0.4;
}

.divider_gray {
  opacity: 0.15;
}

.content {
  display: grid;
  grid-template-columns: 25% 1fr;
  gap: 2rem 1.5rem;
}

.content__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.content__divider {
  align-self: center;
}

.position {
  display: flex;
  flex-direction: column;
}

.position__dates {
  font-size: 0.75rem;
}

.description__title {
  margin-bottom: 0.3rem;
}

.description__content {
  font-size: 0.75rem;
}

.description__content_mercuryo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.skills-list {
  columns: 2;
}

.print-button {
  position: fixed;
  top: 0;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.2;
  transition: opacity 0.2s;
  padding: 1rem;
  box-sizing: content-box;
}

.print-button:hover {
  opacity: 0.3;
}

@media (max-width: 760px) {
  html {
    font-size: 12px;
  }

  .container {
    margin: auto;
    padding: 3rem 2rem;
  }

  .description__content_mercuryo {
    grid-template-columns: 1fr;
  }

  .print-button {
    top: auto;
    bottom: 0;
    width: 2rem;
    height: 2rem;
  }
}

@media print {
  .container {
    padding: 0;
    box-shadow: none;
    background: none;
  }

  .description__content_mercuryo {
    grid-template-columns: repeat(2, 1fr);
  }

  .print-button {
    display: none;
  }
}

@page {
  size: auto;
  size: A4;
  margin: 12mm 10mm;
}
